@model Distributor.Models.AppUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivacyLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivacyLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDistanceFilter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDistanceFilter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxAgeFilter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxAgeFilter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectionLevelFilter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectionLevelFilter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayMyOrganisationListingsFilter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayMyOrganisationListingsFilter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordChangeOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordChangeOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordChangeBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordChangeBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppUserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
