@model IList<Distributor.ViewModels.AvailableListingManageViewModel>

@{ 
    //set up the breadcrumb trail so that this can be passed to the details screen for building it's own breadcrumb as the detail screen is called from multiple places
    string breadcrumb = "";
    string callingActionDisplayName = "Available";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Manage Listings <small>Available</small></h1>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-green">
                <div class="panel-heading">Your current available listings</div>
                <div class="panel-body">
                    <table style="width:100%;" class="table table-striped table-bordered table-hover" id="availableTable">
                        <thead>
                            <tr class="primary">
                                <th>Description</th>
                                <th>Type</th>
                                <th>Qty Left</th>
                                <th>UoM</th>
                                <th>Available To</th>
                                <th>Condition</th>
                                <th>Expiry Date</th>
                                <th>Delivery</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                var listingId = Model[i].ListingId;

                                <tr>
                                    @Html.HiddenFor(modelItem => Model[i].ListingId)
                                    @Html.HiddenFor(modelItem => Model[i].ItemDescription)
                                    @Html.HiddenFor(modelItem => Model[i].QuantityOutstanding)
                                    @Html.HiddenFor(modelItem => Model[i].UoM)
                                    @Html.HiddenFor(modelItem => Model[i].DeliveryAvailable)
                                    <td onclick="location.href='@Url.Action("DisplayAvailable", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, displayOnly = false })'">@Html.DisplayFor(modelItem => Model[i].ItemDescription)</td>
                                    <td onclick="location.href='@Url.Action("DisplayAvailable", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, displayOnly = false })'">@Html.DisplayFor(modelItem => Model[i].ItemType)</td>
                                    <td onclick="location.href='@Url.Action("DisplayAvailable", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, displayOnly = false })'">@Html.DisplayFor(modelItem => Model[i].QuantityOutstanding)</td>
                                    <td onclick="location.href='@Url.Action("DisplayAvailable", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, displayOnly = false })'">@Html.DisplayFor(modelItem => Model[i].UoM)</td>
                                    <td onclick="location.href='@Url.Action("DisplayAvailable", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, displayOnly = false })'">@Html.DisplayFor(modelItem => Model[i].AvailableTo)</td>
                                    <td onclick="location.href='@Url.Action("DisplayAvailable", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, displayOnly = false })'">@Html.DisplayFor(modelItem => Model[i].ItemCondition)</td>
                                    <td onclick="location.href='@Url.Action("DisplayAvailable", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, displayOnly = false })'">@Html.DisplayFor(modelItem => Model[i].ExpiryDate)</td>
                                    <td onclick="location.href='@Url.Action("DisplayAvailable", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, displayOnly = false })'">@Html.DisplayFor(modelItem => Model[i].DeliveryAvailable)</td>
                                    <td>@Html.EnumDropDownListFor(modelItem => Model[i].ListingStatus, new { @class = "form-control" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer clearfix">
                    <div class="col-sm-3"><a class="btn btn-primary btn-lg btn-block" href='@Url.Action("CreateAvailable", "ManageInfo")'><span class="glyphicon glyphicon-plus"></span> Create</a></div>
                    <div class="col-sm-3"><a class="btn btn-default btn-lg btn-block" href='@Url.Action("AvailableHistory", "ManageInfo")'><span class="fa fa-history"></span> History</a></div>
                    <div class="col-sm-3"><button type="submit" name="savebutton" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-save"></span> Save</button></div>
                    <div class="col-sm-3"><button type="submit" name="resetbutton" class="btn btn-danger btn-lg btn-block"><span class="fa fa-undo"></span> Reset</button></div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">

        //Render tables
        $(document).ready(function () {
            $('#availableTable').dataTable({
                responsive: true
            });
        });

    </script>
}