@model IList<Distributor.ViewModels.RequiredListingManageHistoryViewModel>

@{
    //set up the breadcrumb trail so that this can be passed to the details screen for building it's own breadcrumb as the detail screen is called from multiple places
    string breadcrumb = "Required,Required,ManageInfo";
    string callingActionDisplayName = "History";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Manage Listings <small>Required - History</small></h1>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Required", "Required", "ManageInfo")
            </li>
            <li class="active">History</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-green">
            <div class="panel-heading">Your historical required listings</div>
            <div class="panel-body">
                <table style="width:100%;" class="table table-striped table-bordered table-hover" id="requiredHistoryTable">
                    <thead>
                        <tr class="primary">
                            <th>Description</th>
                            <th>Type</th>
                            <th>Qty Needed</th>
                            <th>Qty Outstanding</th>
                            <th>UoM</th>
                            <th>Last Updated</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            var listingId = Model[i].ListingId;

                            <tr>
                                @Html.HiddenFor(modelItem => Model[i].ListingId)
                                <td onclick="location.href='@Url.Action("DisplayRequired", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, historyDisplay = true })'">@Html.DisplayFor(modelItem => Model[i].ItemDescription)</td>
                                <td onclick="location.href='@Url.Action("DisplayRequired", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, historyDisplay = true })'">@Html.DisplayFor(modelItem => Model[i].ItemType)</td>
                                <td onclick="location.href='@Url.Action("DisplayRequired", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, historyDisplay = true })'">@Html.DisplayFor(modelItem => Model[i].QuantityRequired)</td>
                                <td onclick="location.href='@Url.Action("DisplayRequired", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, historyDisplay = true })'">@Html.DisplayFor(modelItem => Model[i].QuantityOutstanding)</td>
                                <td onclick="location.href='@Url.Action("DisplayRequired", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, historyDisplay = true })'">@Html.DisplayFor(modelItem => Model[i].UoM)</td>
                                <td onclick="location.href='@Url.Action("DisplayRequired", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, historyDisplay = true })'">@Html.DisplayFor(modelItem => Model[i].RecordChangeOn)</td>
                                <td onclick="location.href='@Url.Action("DisplayRequired", "ManageInfo", new { id = listingId, breadcrumb = breadcrumb, callingActionDisplayName = callingActionDisplayName, historyDisplay = true })'">@Html.DisplayFor(modelItem => Model[i].ListingStatus)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        //Render tables
        $(document).ready(function () {
            $('#requiredHistoryTable').dataTable({
                responsive: true
            });
        });

    </script>
}