@model Distributor.ViewModels.UserAdminView
@using Distributor.Helpers

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">User Admin</h1>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-green">
                <div class="panel-heading">Active users of organisation</div>
                <div class="panel-body">
                    <table style="width:100%;" class="table table-striped table-bordered table-hover" id="activeUsersTable">
                        <thead>
                            <tr class="primary">
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Login email</th>
                                <th>Privacy level</th>
                                <th>User role</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.UserAdminActiveView.Count(); i++)
                            {
                                var appUserId = Model.UserAdminActiveView[i].AppUserId;

                                <tr>
                                    @Html.HiddenFor(modelItem => Model.UserAdminActiveView[i].AppUserId)
                                    @Html.HiddenFor(modelItem => Model.UserAdminActiveView[i].FirstName)
                                    @Html.HiddenFor(modelItem => Model.UserAdminActiveView[i].LastName)
                                    @Html.HiddenFor(modelItem => Model.UserAdminActiveView[i].LoginEmail)
                                    <td>@Html.DisplayFor(modelItem => Model.UserAdminActiveView[i].FirstName)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.UserAdminActiveView[i].LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.UserAdminActiveView[i].LoginEmail)</td>
                                    <td>@Html.EnumDropDownListFor(modelItem => Model.UserAdminActiveView[i].PrivacyLevel, new { @class = "form-control" })</td>
                                    <td>@Html.EnumDropDownListFor(modelItem => Model.UserAdminActiveView[i].UserRole, new { @class = "form-control" })</td>
                                    <td>@Html.DropDownListFor(modelItem => Model.UserAdminActiveView[i].EntityStatus, ControlHelpers.EntityStatusEnumsForUsersDropDown(Model.UserAdminActiveView[i].EntityStatus), new { @class = "form-control" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer clearfix">
                    <div class="col-sm-4"><button type="submit" name="savebutton" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-save"></span> Save</button></div>
                    <div class="col-sm-4"><button type="submit" value="Save & Add Users" name="addusersbutton" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-user"></span> Save & Add Users</button></div>
                    <div class="col-sm-4"><button type="submit" name="resetbutton" class="btn btn-danger btn-lg btn-block"><span class="fa fa-undo"></span> Reset</button></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-green">
                <div class="panel-heading">Users of organisation awaiting password change</div>
                <div class="panel-body">
                    <table style="width:100%;" class="table table-striped table-bordered table-hover" id="awaitingUsersTable">
                        <thead>
                            <tr class="primary">
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Login email</th>
                                <th>Privacy level</th>
                                <th>User role</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.UserAdminPasswordChangeView.Count(); i++)
                            {
                                var appUserId = Model.UserAdminPasswordChangeView[i].AppUserId;

                                <tr>
                                    @Html.HiddenFor(modelItem => Model.UserAdminPasswordChangeView[i].AppUserId)
                                    @Html.HiddenFor(modelItem => Model.UserAdminPasswordChangeView[i].PrivacyLevel)
                                    @Html.HiddenFor(modelItem => Model.UserAdminPasswordChangeView[i].UserRole)
                                    @Html.HiddenFor(modelItem => Model.UserAdminPasswordChangeView[i].EntityStatus)
                                    <td>@Html.DisplayFor(modelItem => Model.UserAdminPasswordChangeView[i].FirstName)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.UserAdminPasswordChangeView[i].LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.UserAdminPasswordChangeView[i].LoginEmail)</td>
                                    <td>@Model.UserAdminPasswordChangeView[i].PrivacyLevel.DisplayName()</td>
                                    <td>@Model.UserAdminPasswordChangeView[i].UserRole.DisplayName()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-green">
                <div class="panel-heading">Inactive users of organisation</div>
                <div class="panel-body">
                    <table style="width:100%;" class="table table-striped table-bordered table-hover" id="inactiveUsersTable">
                        <thead>
                            <tr class="primary">
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Login email</th>
                                <th>Privacy level</th>
                                <th>User role</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.UserAdminNonActiveView.Count(); i++)
                            {
                                var appUserId = Model.UserAdminNonActiveView[i].AppUserId;

                                <tr>
                                    @Html.HiddenFor(modelItem => Model.UserAdminNonActiveView[i].AppUserId)
                                    @Html.HiddenFor(modelItem => Model.UserAdminNonActiveView[i].FirstName)
                                    @Html.HiddenFor(modelItem => Model.UserAdminNonActiveView[i].LastName)
                                    @Html.HiddenFor(modelItem => Model.UserAdminNonActiveView[i].LoginEmail)
                                    @Html.HiddenFor(modelItem => Model.UserAdminNonActiveView[i].PrivacyLevel)
                                    @Html.HiddenFor(modelItem => Model.UserAdminNonActiveView[i].UserRole)
                                    <td>@Html.DisplayFor(modelItem => Model.UserAdminNonActiveView[i].FirstName)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.UserAdminNonActiveView[i].LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.UserAdminNonActiveView[i].LoginEmail)</td>
                                    <td>@Model.UserAdminNonActiveView[i].PrivacyLevel.DisplayName()</td>
                                    <td>@Model.UserAdminNonActiveView[i].UserRole.DisplayName()</td>
                                    <td>@Html.DropDownListFor(modelItem => Model.UserAdminNonActiveView[i].EntityStatus, ControlHelpers.EntityStatusEnumsForUsersDropDown(Model.UserAdminNonActiveView[i].EntityStatus), new { @class = "form-control" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer clearfix">
                    <div class="col-sm-6"><button type="submit" name="saveinactivebutton" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-save"></span> Save</button></div>
                    <div class="col-sm-6"><button type="submit" name="resetbutton" class="btn btn-danger btn-lg btn-block"><span class="fa fa-undo"></span> Reset</button></div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        //Render tables
        $(document).ready(function () {
            $('#activeUsersTable').dataTable({
                responsive: true
            });
        });

        //Render tables
        $(document).ready(function () {
            $('#awaitingUsersTable').dataTable({
                responsive: true
            });
        });

        //Render tables
        $(document).ready(function () {
            $('#inactiveUsersTable').dataTable({
                responsive: true
            });
        });

    </script>
}