@model IList<Distributor.ViewModels.UserAdminView>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">User Admin</h1>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-green">
                <div class="panel-heading">Active users of organisation</div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr class="primary">
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Login email</th>
                                <th>Privacy level</th>
                                <th>User role</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                var appUserId = Model[i].AppUserId;
                                @Html.HiddenFor(modelItem => Model[i].AppUserId)
                                @Html.HiddenFor(modelItem => Model[i].FirstName)
                                @Html.HiddenFor(modelItem => Model[i].LastName)
                                @Html.HiddenFor(modelItem => Model[i].LoginEmail)

                                <tr>
                                    <td>@Html.DisplayFor(modelItem => Model[i].FirstName)</td>
                                    <td>@Html.DisplayFor(modelItem => Model[i].LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => Model[i].LoginEmail)</td>
                                    <td>@Html.EnumDropDownListFor(modelItem => Model[i].PrivacyLevel, new { @class = "form-control" })</td>
                                    <td>@Html.EnumDropDownListFor(modelItem => Model[i].UserRole, new { @class = "form-control" })</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer clearfix">
                    <div class="col-md-4"><button type="submit" name="savebutton" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-save"></span> Save</button></div>
                    <div class="col-md-4"><button type="submit" value="Save & Add Users" name="addusersbutton" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-user"></span> Save & Add Users</button></div>
                    <div class="col-md-4"><button type="submit" name="resetbutton" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-repeat"></span> Reset</button></div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}