@model Distributor.Models.GroupMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GroupMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordChangeOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordChangeOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordChangeBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordChangeBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupMemberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
