@model IEnumerable<Distributor.Models.GroupMember>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="width:100%;" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganisationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordChangeOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordChangeBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganisationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordChangeOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordChangeBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GroupMemberId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GroupMemberId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroupMemberId })
        </td>
    </tr>
}

</table>
